<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <example_section>
            <general>
                <enable>1</enable>
                <api_key>AIzaSyDdMULs4rLjlVcQOgRCPPGxBGV62hH-SPo</api_key>
            </general>
        </example_section>
    </default>
</config>